body{
    font-family: 'Roboto', sans-serif;
    color:white;
    background:black;
}
.largeText {
    font-size:200%;
    font-weight: 700;
    background:#B9090B;
    display:inline-block;
    padding-right:100px;
}

.magnetURI {
    width:"400px";
    height:"100px";
}

.submitURI {

}

.step2 {
    display:none;
}

.step3 {
    display: none;
}

.versionNum {
    background:#B9090B;
    display:inline-block;
    font-size:80%;
}
